<%= link_to('show formation image', match_formations_path(match_id: params[:match_id]), class: 'button', target: '_blank') %>
<% @rating.all_xt_ratings.each do |xt_ratings| %>
  <% if xt_ratings.size > 0 %>
    <h3><%= xt_ratings[0].player_position %>, Score: <%= format_num(xt_ratings.sum(&:total) / xt_ratings.size) %></h3>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <% rating_headers(xt_ratings[0]).each_with_index do |key, i| %>
            <th class="<%= 'info' if i == 0 %>"><%= t(key.underscore) %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% xt_ratings.each do |xt_rating| %>
          <tr>
            <% rating_headers(xt_rating).each_with_index do |key, i| %>
              <% if i == 0 %>
                <td class="info"><%= xt_rating.send(key.underscore) %></td>
              <% else %>
                <td><%= format_num xt_rating.send(key.underscore) %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <% stats_headers.each_with_index do |key, i| %>
            <th class="<%= 'info' if i == 0 %>"><%= t(key.underscore) %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <tr>
          <% stats_headers.each_with_index do |key, i| %>
            <% if i == 0 %>
              <td class="info"><%= xt_ratings[0].match_stat.send(key.underscore) %></td>
            <% else %>
              <td><%= format_num xt_ratings[0].match_stat.send(key.underscore) %></td>
            <% end %>
          <% end %>
        </tr>
        </tbody>
      </table>
    </div>
  
  
  <% else %>
    <h3>No Rating Available</h3>
  <% end %>

<% end %>